@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

/* Custom variables */
:root {
  --brand-bg: #0a0a0a;
  --brand-neutral: #171717;
}

/* Base styles */
@layer base {
  body {
    @apply antialiased;
  }
}